<div class="col-md-8 col-md-offset-2 font-conten">
  <div class="container">
    <div class="field">
      <h1 class="font-title"><strong> <%= link_to pizza.name, pizzas_path %> </strong> </h1>
    </div>
    <div class="field font-conten", style="text-align: left;">
      <%= pizza.ingredients%>
    </div>
  </div>
</div>
