<div class="col-md-8 col-md-offset-2 font-conten">
  <div class="row">
    <h1 class="font-title"> <strong>¡¡Pizzas!!</strong></h1>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <% @pizzas.each do |pizza|%>
      <div class="field center">
        <h1 class="font-conten"><strong> <%= link_to pizza.name, pizzas_path %> </strong> </h1>
      </div>
      <div class="field font-conten", style="text-align: left;">
        <%= pizza.ingredients%>
      </div>
      <div id="ellink", class="filed font-button center">
          <%= link_to "Eliminar", pizzas_path, class:"btn be-black", method: :delete %>
      </div>

    <%end%>
  </div>
</div>
